* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    color: rgb(48, 10, 10);
    background-image: url("https://wallpapercave.com/wp/wp9127211.jpg");
    background-size: 100%;
}    
.cabecalho{
font-size: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;

}
.cabecalho__link{
    color: #390464;
    text-decoration: none;
    padding: 20px;
    font: size 40px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.principal{
    margin: 5%;
    border: 1px solid blue;
    display: flex;
    justify-content:space-between; 
    font-variant-alternates: initial;
    font-family: monospace;
    font-size: 30;
    list-style: none;
    
}
footer{
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;

}

.textoHome{
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.principal__secao{
    font-family: fantasy;
    border: 1px solid blueviolet;
}

.imagemPerfil {
    width: 300px;
    margin: 30px;
    border-radius: 50%;
}


